#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --setuptools \
		--python /usr/bin/python2 \
		--requirements requirements-unix.txt \
		--requirements requirements.txt \
		--use-system-packages

override_dh_builddeb:
	dh_builddeb --destdir=/src/ndrive-2.5.4/debian/dist

# fix err: Not enough room for program headers
override_dh_strip:
	dh_strip --exclude=_cffi_backend
